#contenedor1{
    width: 100%;
    height: 35%;
    display: flex;
    flex-wrap: wrap;
}

#hijo1 {
    width: 100%;
    height: 200px;
    background-color: aquamarine;
    margin: 4px;
}

#contenedor2{
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

#hijo2{
    flex: 2;
    height: 500px;
    background-color: cyan;
    margin: 4px;
}

#hijo3{
    flex: 1;
    height: 500px;
    background-color: hotpink;
    margin: 4px;
}